html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Ubuntu", sans-serif;
}

p {
    color: rgb(106,106,106)
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


@media screen and (max-width: 768px) {

    /* index grid */
    #index-wrapper {
        display: grid;
        height: 600vh;
        width: 100vw;

        grid-template-areas:
            "ihr"
            "tx1"
            "tx2"
            "tx3"
            "ben"
            "sc4"
            "soc"
            "blg"
            "fot";

        grid-template-rows: 400px 10fr 10fr 10fr 10fr 10fr 10fr 10fr 750px;

        padding-top: 80px;
    }

    header {
        background-color: rgb(197,23,20);
    

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        width: 100vw;
        height: 80px;
        transition: background-color 0.3s ease;
        z-index: 4;
    }

    #index-hero {
        grid-area: ihr;
        background-image: url("/img/index-hero_test.jpg");
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        
    }

    #text1 {
        grid-area: tx1;
        background-color: white;
    }

    #text2 {
        grid-area: tx2;
        background-color: white;
    }

    #text3 {
        grid-area: tx3;
        background-color: white;
    }

    #benefits {
        grid-area: ben;
        background-color: purple;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #section4 {
        grid-area: sc4;
        background-color: pink;
    }

    #social {
        grid-area: soc;
        background-color: red;
    }

    #blog {
        grid-area: blg;
        background-color: orange;
    }

    footer {
        grid-area: fot;
        background-color: yellow;
    }

    /* index css styling */
    .brand-color {
        color: rgb(197,23,20);
    }
    
    .brand-button {
        padding: 10px 15px;

        font-size: 1rem;
        font-weight: bold;

        color: white;
        background-color: rgb(197,23,20);

        border: none;
        border-radius: 8px;

        cursor: pointer;
    }
    
    .hero {
        text-align: center;
        padding: 20px;
    }
    
    .hero button {
        margin-top: 20px;
    }
    
    .hero h1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    #index-hero,
    #text1,
    #text2,
    #text3,
    #benefits,
    #section4,
    #social,
    #blog,
    footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    header img {
        height: 50px;
    }

    header span {
        padding-left: 20px;
        padding-right: 20px;
    }

    .mobile-nav-button {
        cursor: pointer;
        display: inline;
    }

    .mobile-nav {
        height: 100vh;
        width: 80vw;
        background: hotpink;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
        z-index: 10;
    }

    #text1,
    #text2,
    #text3 {
        display: flex;
        flex-direction: column;
    }

    .image-column,
    .text-column {
        flex: 1;
    }

    .image-column img {
        max-width: 100%;
        height: auto;
    }

    .image-column {
        background-color: brown;
    }

    .benefits-container li {
        line-height: 40px;
    }

    #section4 img {
        width: 100%;
        height: 300px;
        background-color: brown;
    }

    .social-container {
        padding: 10px;
        border: 0.5px solid lightgray;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        position: relative;
    }

    .links {
        flex: 1;
    }

    .social-container a {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #blog img {
        background-color: brown;
        width: 100%;
        height: 300px;
    }

    .footer-list {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-list a {
        display: block;
    }

    /* sporter grid */
    #sporter-wrapper {
        display: grid;
        height: 500vh;
        width: 100vw;

        grid-template-areas:
            "hed"
            "shr"
            "sp1"
            "sp2"
            "sp3"
            "fot";

        grid-template-rows: 80px 400px auto auto auto 750px;
    }

    #sporter-hero {
        grid-area: shr;
        background-color: orange;
    }

    #sport1 {
        grid-area: sp1;
        background-color: yellow;
    }

    #sport2 {
        grid-area: sp2;
        background-color: green;
    }

    #sport3 {
        grid-area: sp3;
        background-color: blue;
    }



    /* borja-trana grid */
    #borja-trana-wrapper {
        display: grid;
        height: 200vh;
        width: 100vw;

        grid-template-areas:
            "hed"
            "bhr"
            "qst"
            "fot";

        grid-template-rows: 80px 400px 10fr 750px;
    }

    #borja-trana-hero {
        grid-area: bhr;
        background-color: orange;
    }

    #questions {
        grid-area: qst;
        background-color: green;
    }



    /* om oss grid */
    #om-oss-wrapper {
        display: grid;
        height: 300vh;
        width: 100vw;

        grid-template-areas:
            "hed"
            "ohr"
            "gol"
            "stf"
            "map"
            "fot";

        grid-template-rows: 80px 400px 10fr 10fr 10fr 750px;
    }

    #om-oss-hero {
        grid-area: ohr;
        background-color: orange;
    }

    #goal {
        grid-area: gol;
        background-color: yellow;
    }

    #staff {
        grid-area: stf;
        background-color: green;
    }

    #map {
        grid-area: map;
        background-color: blue;
    }


    /* Javascript klasser: */
    .show {
        left: 0;
    }

    .fade-layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible {
        display: block;
    }

    .step {
        display: none;
    }

}